version: "3.9"

services:
  nextapp:
    build: .
    container_name: next_app
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: admin123
      DB_NAME: recipes_fullstack
      NODE_ENV: development
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "npm install && npm run dev"

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: recipes_fullstack
    ports:
      - "5433:5432" # Porta 5433 pro host, mas 5432 dentro do container
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
